.container {
  margin: auto;
}
@media (min-width: 600px) and (max-width: 899px) {
  .container {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    flex-basis: 1100px;
    max-width: 1100px;
  }
}

@media (min-width: 1800px) {
  .container {
    flex-basis: 1500px;
    max-width: 1500px;
  }
}

@media (min-width: 2560px) {
  .container {
    flex-basis: 1500px;
    max-width: 1500px;
  }
}

@media (min-width: 1200px) {
  .container.half {
    flex-basis: 900px;
    max-width: 900px;
  }
}

@media (min-width: 1800px) {
  .container.half {
    flex-basis: 1000px;
    max-width: 1000px;
  }
}

@media (min-width: 2560px) {
  .container.half {
    flex-basis: 1500px;
    max-width: 1500px;
  }
}

@media (min-width: 900px) {
  .container.prc50 {
    max-width: 384px;
  }
}

@media (min-width: 1200px) {
  .container.prc50 {
    flex-basis: 550px;
    max-width: 550px;
  }
}

@media (min-width: 1800px) {
  .container.prc50 {
    flex-basis: 750px;
    max-width: 750px;
  }
}

@media (min-width: 2560px) {
  .container.prc50 {
    flex-basis: 1250px;
    max-width: 1250px;
  }
}
